:root {
  box-sizing: border-box;
  --background-color: #{$backgroundColor};
  --text-color: #2c3e50;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
}
